.bar {
    fill: steelblue;
}
  
.bar:hover {
    fill: brown;
}
  
.axis {
    font: 10px sans-serif;
}
  
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
  
.x.axis path {
    display: none;
}

@media screen and (max-width: 600px){
    .alignCard {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .root-container{
        overflow: auto !important;
        padding: 0px !important;
        margin-top: 15px;
    }

    .weather-card{
        max-width: 493px !important;
    }

    .left-arrow-container{
        left: 10px !important;
    }

    .right-arrow-container{
       right: -28% !important;
    }
    
}
